server {
  listen 80;

  include "/etc/nginx/conf.d/{{ web_hostname }}.upstreams.include";
  include "/etc/nginx/conf.d/{{ web_hostname }}.https.include";

  server_name {{ web_hostname }};
  index index.html;

  location / {
    proxy_set_header        Host            $host;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header X-Real-IP       $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_set_header Connection '';
    proxy_http_version 1.1;
    chunked_transfer_encoding off;
    proxy_buffering off;
    proxy_cache off;
    proxy_pass $git_work_endpoint/;
    add_header Cache-Control no-cache;
  }

  location ~ /\.git {
    deny all;
  }
}
